{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Food Tracker</h1>
      <p>Track your food intake here.</p>
    </div>
  </div>
  <div class="container">
    <form method ='post'>
        <input type ='number' name='Blood_Sugar' placeholder='Blood Sugar (Fasted)'>
        <input type ='number' name='RHR' placeholder='Resting Heart Rate'>
        <input type ='number' name='Cholestrol' placeholder='Cholestrol'>
        <input type ='number' name='Blood Pressure' placeholder='Blood Pressure'>
        <input type ='submit' value='Update'>
    </form>
  </div>
  <div class ="dashboard">
    
  </div>
</div>
{% endblock %}